html,body{
    margin:0;
    padding:0;
}

.info-box{
    border:1px solid #bbb;
}

.info-box span {
  position: relative;
  top: 2px;
  font-size:8pt;
}

.running-text{
    font-family: "Arial", Verdana, Sans-serif;
    font-weight:bolder;
    margin-top:5px;
}

.header{
    background-color:orange;
}

.header .title{
    float: right;
    color: white;
    margin-top: 15px;
    margin-right: 15px;
    font-size: large;
}

.number{
    text-align:right !important;
}

.z-tree-icon, .z-tree-line {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    float: left;
}

.z-treecell-text {
    vertical-align: middle;
    display: block;
    float: left;
}

.z-treecell .z-label {
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    display: block;
    float: left;
    width: 200px;
    padding-left: 5px;
}

.z-combobox-disabled input, .z-bandbox-disabled input, .z-datebox-disabled input, .z-timebox-disabled input, .z-spinner-disabled input, .z-doublespinner-disabled input,
.z-textbox[disabled], .z-decimalbox[disabled], .z-intbox[disabled], .z-longbox[disabled], .z-doublebox[disabled],.z-moneybox[disabled] {
    color: #000 !important;
    background: #58ACFA none repeat scroll 0% 0% !important;
    border: 1px solid #040098 !important;
}

.z-textbox:focus, .z-decimalbox:focus, .z-intbox:focus, .z-longbox:focus, .z-doublebox:focus,
.z-combobox-input:focus, .z-bandbox-input:focus, .z-datebox-input:focus, .z-timebox-input:focus,
.z-spinner-input:focus, .z-doublespinner-input:focus, .z-moneybox:focus{
    box-shadow: 1px 1px 1px rgba(210, 210, 210, 0.75) inset;
    background: #81F781 none repeat scroll 0% 0% !important;
    border: 1px solid #109003 !important;
}

.z-decimalbox {
    text-align: right;
}

.z-button{
    font-weight: bold;
}

.z-combobox-input, .z-bandbox-input, .z-datebox-input,
.z-timebox-input, .z-spinner-input, .z-doublespinner-input,
.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox,.z-moneybox {
    font-size: 14px;
}

.z-label, .z-radio-content, .z-checkbox-content, .z-loading {
    font-size: 14px;
    font-weight: bold;
}